{% extends 'base.html' %}

{% block standard %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <p class="ms-5 nomargin lead">SearchQuery
      <span style="font-size: 12px">Search Results</span>
      </p>
    </div>
  </nav>
  <div class="row">
      <div class="col-10">
          <div class="card m-4 p-2 border-0" style="border-radius: 0px;">
              Sort by anything
          </div>
          <div class="card m-4 p-2 border-0">
            <p class="nomargin" style="font-size:13px">Topics</p>
            <hr class="mt-2 mb-2"/>
            <div class="row mb-2">
                <div class="col-auto">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Flag_of_Pakistan.svg/1200px-Flag_of_Pakistan.svg.png"style="width: 50px;">
                </div>
                <div class="col-3">
                    <p class="nomargin">
                        <b>
                            Pakistan
                        </b></p>
                </div>
                <div class="col-7">
                    <p class="nomargin">
                            The frontpage of Pakistani reddit
                        </p>
                </div>
                <div class="col">
                    <button class="btn btn-danger btn-sm iround" style="width: 100%">Join</button>
                </div>
            </div>
            <div class="row mb-2 ">
                <div class="col-auto">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Flag_of_Pakistan.svg/1200px-Flag_of_Pakistan.svg.png"style="width: 50px;">
                </div>
                <div class="col-3">
                    <p class="nomargin">
                        <b>
                            Pakistan
                        </b></p>
                </div>
                <div class="col-7">
                    <p class="nomargin">
                            The frontpage of Pakistani reddit
                        </p>
                </div>
                <div class="col">
                    <button class="btn btn-danger btn-sm iround" style="width: 100%">Join</button>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-auto">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Flag_of_Pakistan.svg/1200px-Flag_of_Pakistan.svg.png"style="width: 50px;">
                </div>
                <div class="col-3">
                    <p class="nomargin">
                        <b>
                            Pakistan
                        </b></p>
                </div>
                <div class="col-7">
                    <p class="nomargin">
                            The frontpage of Pakistani reddit
                        </p>
                </div>
                <div class="col">
                    <button class="btn btn-danger btn-sm iround" style="width: 100%">Join</button>
                </div>
            </div>
        </div>
        <div class="card m-4 p-2 border-0">
            <div class="row">
                <div class="col-auto">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Flag_of_Pakistan.svg/1200px-Flag_of_Pakistan.svg.png"style="width: 50px;">
                </div>
                
                <div class="col-10">
                    <p class="nomargin">
                        This man at Pakistan’s woman’s march
                        </p>
                    <p class="nomargin" style="font-size: 12px; font-weight: 400;">
                    TopicName <span style="font-weight: 300;">Posted by Anonymous 12 hours ago</span></p>
                </div>
            </div>
            <hr class="mt-2 mb-2"/>
            <div class="row">
                <div class="col-auto">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Flag_of_Pakistan.svg/1200px-Flag_of_Pakistan.svg.png"style="width: 50px;">
                </div>
                
                <div class="col-10">
                    <p class="nomargin">
                        This man at Pakistan’s woman’s march
                        </p>
                    <p class="nomargin" style="font-size: 12px; font-weight: 400;">
                    TopicName <span style="font-weight: 300;">Posted by Anonymous 12 hours ago</span></p>
                </div>
            </div>
            <hr class="mt-2 mb-2"/>
            <div class="row">
                <div class="col-auto">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Flag_of_Pakistan.svg/1200px-Flag_of_Pakistan.svg.png"style="width: 50px;">
                </div>
                
                <div class="col-10">
                    <p class="nomargin">
                        This man at Pakistan’s woman’s march
                        </p>
                    <p class="nomargin" style="font-size: 12px; font-weight: 400;">
                    TopicName <span style="font-weight: 300;">Posted by Anonymous 12 hours ago</span></p>
                </div>
            </div>
            <hr class="mt-2 mb-2"/>
            <div class="row">
                <div class="col-auto">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Flag_of_Pakistan.svg/1200px-Flag_of_Pakistan.svg.png"style="width: 50px;">
                </div>
                
                <div class="col-10">
                    <p class="nomargin">
                        This man at Pakistan’s woman’s march
                        </p>
                    <p class="nomargin" style="font-size: 12px; font-weight: 400;">
                    TopicName <span style="font-weight: 300;">Posted by Anonymous 12 hours ago</span></p>
                </div>
            </div>
            <hr class="mt-2 mb-2"/>
            <div class="row">
                <div class="col-auto">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Flag_of_Pakistan.svg/1200px-Flag_of_Pakistan.svg.png"style="width: 50px;">
                </div>
                
                <div class="col-10">
                    <p class="nomargin">
                        This man at Pakistan’s woman’s march
                        </p>
                    <p class="nomargin" style="font-size: 12px; font-weight: 400;">
                    TopicName <span style="font-weight: 300;">Posted by Anonymous 12 hours ago</span></p>
                </div>
            </div>
        </div>
      </div>
      <div class="col-2">
          <div class="mt-4 mb-3 me-3">
            {% include 'components/footer.html' %}

          </div>
      </div>
  </div>
{% endblock %}