<div class="mt-3 ps-4 ms-3 pe-2" style="border-left: 1px solid rgba(0,0,0,0.5)">
    <p class="nomargin" style="font-size:14px; font-weight: 600">
        Hello World
        <span class="ms-1" style="font-size: 12px; font-weight: 200;">6 hours ago</span>
    </p>
    <p class="nomargin" style="font-size: 16px;">
        {% if content %}
        {{content }}
        {% else %}
        As a reminder, this subreddit is for civil discussion.
        In general, be courteous to others. Debate/discuss/argue the merits of ideas, don't attack people. Personal insults, shill or troll accusations, hate speech, any advocating or wishing death/physical harm, and other rule violations can result in a permanent ban.
        If you see comments in violation of our rules, please report them.
        For those who have questions regarding any media outlets being posted on this subreddit, please click here to review our details as to our approved domains list and outlet criteria.
        I am a bot, and this action was performed automatically. Please contact the moderators of this subreddit if you have any questions or concerns.
        {% endif %}
    </p>
    <p class="nomargin p-2" style="font-size:14px;">
        <a class="upvote p-1" href="#" style="font-size:22px;"><i class="fas fa-arrow-up"></i></a>
        <a href="#" class="downvote p-1" style="font-size:22px;"><i class="fas fa-arrow-down"></i></a>
        <a class="backchange p-1" style="text-decoration: none;">
            <i class="fas fa-comment"></i>
            13 Comments
        </a>
        <a class="backchange p-1" style="text-decoration: none;">
            <i class="fas fa-plus"></i>
            Save
        </a>
    </p>
</div>
