<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Ideas@IBA
            <span style="font-weight: 300; font-size: 16px">
                The unofficial IBA think tank
            </span>
            <span class="badge text-light" style="font-weight: 300; font-size: 12px">
                Only for students
            </span>
        </a>
        <form class="d-flex justify-content-center">
            <input
                class="form-control me-2 border-0 iround ps-4"
                style="width: 500px; font-weight: 300;"
                type="search"
                placeholder="Search"
                aria-label="Search"
            >
            <a href="#">
                <i class="fas fa-search text-primary mt-2" style="font-size: 20px;"></i>
            </a>
        </form>
        <form class="d-flex">
            <button class="btn btn-outline-primary me-2" type="button">Login</button>
            <button class="btn btn-primary" type="button">Sign up</button>
        </form>
    </div>
</nav>
