<div class="card bg-dark text-white iround border-0 shadow" style="max-height: 250px;">
    <img src="{{image_url}}" class="card-img iround" alt="..." style="max-height: 250px; height: 250px; object-fit cover:">
    <div class="card-img-overlay iround" style="background-image: linear-gradient(to top, black, rgba(0,0,0,0));">
        <h5 class="card-title mt-5" style="margin:0;">Card title</h5>
      <p class="card-text">This is a wider card</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>